@use "variables" as v;
@use "mixins";

.details{
    padding: 24px;
    @media (min-width:1115px) {
        .details__button{
            width: 270px;
        }
        width: 450px;
        height: 430px;
        margin-top: 50px;
        .details__product-quantity{
            display: flex;
            gap: 16px;
            padding-top: 20px;
        }
    }
    &__company{
        font-size: .8em;
        letter-spacing: 1px;
        margin-bottom: 12px;
        color: v.$Orange;
        text-transform: uppercase;
    }
    &__title{
        font-size: 1.7em;
        margin-bottom: 16px;
        @media (min-width:1115px) {
            font-size: 2.3em;
        }
    }
    &__description{
        font-size: .9em;
        line-height: 22px;
        font-weight: 400;
        color: v.$Dark-grayish-blue;
        margin-bottom: 30px;
    }
    &__prices{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        align-items: center;
        @media (min-width:1115px) {
            display: block;
        }
    }
    &__now{
        font-size: 1.4em;
        color: v.$Black;
        font-weight: 700;
        width: 140px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 17px;
    }
    &__before{
        font-weight: 700;
        color: v.$Grayish-blue;
        text-decoration: line-through;
    }
    &__discount{
        text-align: center;
        width: 42px;
        color: v.$Orange;
        font-size: .75em;
        margin-top: 7px;
        background-color: v.$Pale-orange;
        border-radius: 4px;
    }

    &__button{
        width: 100%;
        height: 48px;
        border: none;
        background-color: v.$Orange;
        border-radius: 8px;
        color: v.$White;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        &:hover{
            cursor: pointer;
            opacity: .6;
        }
    }

}

