@use "variables";

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 0 24px;
    @media (min-width:1115px) {
        height: 112px;
        border-bottom: 1px solid variables.$Grayish-blue;
    }
    &__navigation{
        display: flex;
        align-items: center;
        width: 175px;
        height: 100%;
        justify-content: space-between;
        @media (min-width:1115px) {
            width: 580px; 
        }
    }
    &__menu{
        &:hover{
            cursor: pointer;
        }
        @media (min-width:1115px){
            display: none;
        }
    }
    &__cart{
        position: relative;
        &-notification{
            display: none;
            background-color: variables.$Orange;
            height: 12px;
            width: 15px;
            border-radius: 16px;
            position: absolute;
            top: -2px;
            right: -5px;
            font-size: .65em;
            text-align: center;
            color: variables.$White;
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__cart-avatar{
        
        display: flex;
        align-items: center;
        width: 70px;
        justify-content: space-between;
        @media (min-width:1115px){
            width: 120px;
            margin-right: 0px;
        }
    }
    &__avatar{
        width: 24px;
        @media (min-width:1115px){
            width: 48px;
        }
        &:hover{
            cursor: pointer;
            border: 1px solid variables.$Orange;
            border-radius: 50px;
        }
    }
}
