@use "initial";
@use "variables";
@use "header";
@use "navbar";
@use "modal-navbar";
@use "gallery";
@use "details";
@use "input";
@use "modal-cart";
@use "modal-gallery";

.main-container {
  width: 375px;
  margin: 45px auto;
  position: relative;
  @media (min-width: 1115px) {
    width: 1115px;
  }
}

.content {
  @media (min-width: 1115px) {
    display: flex;
    padding: 90px 50px;
    gap: 125px;
  }
}


.show{
  display: block;
}

.cart-empty{
  text-align: center;
  margin-top: 80px;
  font-size: 1.3em;
  font-weight: 700;
  color: variables.$Dark-grayish-blue;
}
.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(229, 77%, 52%);
}
